{% extends 'common/base.html' %}
{% load custom_tags %}
{% block content %}
<div class="instructor-detail">
    <img src="{{ instructor.user.profile.profile_picture.url }}" alt="Picture of {{ instructor.user.get_full_name }}">
    <h1>{{ instructor.user.get_full_name }}</h1>
    <p>{{ instructor.bio }}</p>
    <h3>Classes:</h3>
    <ul>
        {% for training in instructor.trainings.all %}
            <li>{{ training.title }}</li>
        {% endfor %}
    </ul>
    {% if user|is_moderator or user|is_superuser %}
        <a href="{% url 'instructor-edit' instructor.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'instructor-delete' instructor.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
</div>
{% endblock %}
