{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Motion</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
<section class="site-background upper">
    <header>
        <div class="header-content">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo 1.png' %}" alt="!">
                </a>
            </div>

            {% include 'common/nav.html' %}

        </div>
    </header>


</section>

<main class="content-area {% if body_class %}{{ body_class }}{% endif %}">
    {% if messages %}
        <div class="feedback-messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</main>


<div class="footer-content">
    <span>© 2024</span>
    <div class="footer-logo">
        <a href="{% url 'home' %}" style="color: #fff; text-decoration: none;">(e)motion</a>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>
