{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Motion</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
<header>
    <!-- Logo -->
    <div class="logo">
        <a href="/" style="color: #fff; text-decoration: none;">(e)motion</a>
    </div>

    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#classes">Classes</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contacts">Contacts</a></li>
        </ul>
        <i class="fas fa-bars mobile-menu-icon" onclick="toggleMobileMenu()"></i>
    </nav>

    <!-- Mobile Dropdown Menu -->
    <div class="mobile-menu" id="mobileMenu" style="display: none;">
        <ul>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#classes">Classes</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contacts">Contacts</a></li>
        </ul>
    </div>
</header>

<main>
    {% block content %}

    {% endblock %}
</main>

<footer>
    <div class="footer-content">
        <span>© 2024</span>
        <div class="footer-logo">
            <a href="/" style="color: #fff; text-decoration: none;">(e)motion</a>
        </div>
    </div>
</footer>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
