{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="container trainings-container">
    <h1 class="page-title">All Activities</h1>

    <div class="training-cards">
        {% for training in trainings %}
        <a href="{% url 'training-details' training.pk %}" class="training-card">
            <div class="training-image">
                <img src="{{ training.picture.url }}" alt="{{ training.name }}">
            </div>
            <h2 class="training-name">{{ training.title }}</h2>
        </a>
        {% endfor %}

        <div class="create-training-wrapper">
        <a href="{% url 'training-create' %}" class="btn-success create-training-button">Create Activity</a>
        </div>
    </div>
</div>
{% endblock %}