{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="container profile-container">
        <div class="container title-container">
            <h1 class="profile-title">{{ profile }}</h1>
        </div>
        <div class="container profile-training-container">
            <div class="profile-details">
                {% if profile.profile_picture %}
                    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
                {% else %}
                    <img src="{% static 'images/person.png' %}" alt="Profile Picture" class="profile-picture">
                {% endif %}

                <h3>{{ profile.user.get_full_name }}</h3>

                <p><strong>Email:</strong> {{ profile.user.email }}</p>

                {% if profile.date_of_birth %}
                    <p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p>
                {% endif %}

                {% if profile.phone_number %}
                    <p><strong>Phone Number:</strong> {{ profile.phone_number }}</p>
                {% endif %}

                <hr class="profile-divider">

                <div class="profile-actions">
                    <a href="{% url 'profile-edit' request.user.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'profile-delete' request.user.pk %}" class="btn btn-primary">Delete</a>
                </div>
            </div>


            <div class="training-details">

                <div class="next-training">
                    <h4>Next Session</h4>
                    {% if profile.next_training %}
                        <p><strong>Date:</strong> {{ profile.next_training.date|date:"F j, Y" }}</p>
                        <p><strong>Time:</strong> {{ profile.next_training.date|date:"H:i" }}</p>
                        <p><strong>Class:</strong> {{ profile.next_training.training.title }}</p>
                        <p><strong>Instructor:</strong> {{ profile.next_training.training.instructor }}</p>
                    {% else %}
                        <p>No upcoming training sessions.</p>
                    {% endif %}
                </div>


                <div class="past-trainings">
                    <h4>Past Sessions</h4>
                    {% if profile.attended_trainings.exists %}
                        <ul>
                            {% for training in profile.attended_trainings.all %}
                                <li>
                                    <strong>Date:</strong> {{ training.date|date:"F j, Y" }} -
                                    <strong>Class:</strong> {{ training.training.title }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No training sessions attended yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
